In [25]:
# Import relevant libraries
import pandas as pd
import numpy as np

# First, let's open the file!
data = pd.read_excel("SBA_Loan_data_.xlsx", "Sheet1")

In [19]:
# What's the size of our dataset?
print "Number of samples:", data.shape[0]

# Observe the first few rows.
data.head()

Number of samples: 147423

,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,CDC_Name,CDC_Street,CDC_City,CDC_State,...,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,ProjectCounty,ProjectState,BusinessType,LoanStatus,ChargeOffDate,GrossChargeOffAmount
0,504,ROBERT G. FIELDS AND MARY D. F,55 & RICHLAND,KANSAS CITY,KS,66106,Avenue Area Incorporated,3324 Emerald Lane,Jefferson City,MO,...,NaN,12,NaN,NaN,WYANDOTTE,KS,INDIVIDUAL,PIF,NaN,0.0
1,504,CANDLELAMP COMPANY,3454 NIKI WAY,RIVERSIDE,CA,92507,CDC Small Business Finance Cor,2448 Historic Decatur,San Diego,CA,...,NaN,240,NaN,NaN,RIVERSIDE,CA,INDIVIDUAL,PIF,NaN,0.0
2,504,"NATIONAL COMPOSITES, INC.",2303 N. BENDIX DRIVE,SOUTH BEND,IN,46628,Business Development Corporati,218 W. Washington Street,South Bend,IN,...,NaN,120,NaN,NaN,ST JOSEPH,IN,CORPORATION,PIF,NaN,0.0
3,504,WENDY'S OF HARRISBURG,OUTLOT A. TR. 45N & SMALL ST,HARRISBURG,IL,62946,Small Business Growth Corporat,2401 West White Oaks Drive,Springfield,IL,...,NaN,240,NaN,NaN,SALINE,IL,CORPORATION,CHGOFF,2003-03-28 00:00:00,0.0
4,504,"RON SAUNORIS GARDEN CTR, INC.",13747 W. 159TH ST.,LOCKPORT,IL,60441,MISSNG/INACTV LENDER,NaN,NaN,NaN,...,NaN,240,NaN,NaN,WILL,IL,CORPORATION,CANCLD,NaN,0.0

In [20]:
# Observe NaN rows in borrower state
nan_rows = data[data['BorrState'].isnull()]
nan_rows

,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,CDC_Name,CDC_Street,CDC_City,CDC_State,...,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,ProjectCounty,ProjectState,BusinessType,LoanStatus,ChargeOffDate,GrossChargeOffAmount
36780,504,ASSETSALE07 73X4149 FINBUSGTY,NaN,NaN,NaN,0,MISSNG/INACTV LENDER,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,EXEMPT,NaN,0.0
78608,504,MMS LOGISTIC CORPORATION,CARR 181 KM 2.3 BARRIO CELAD,GURABO,NaN,778,Puerto Rico Business Developme,Capitan Espada Street,San Juan,PR,...,NaN,240,484220.0,Specialized Freight (except Used Goods) Trucki...,GURABO,PR,CORPORATION,CANCLD,NaN,0.0

In [24]:
# Drop bad data
print(pd.__version__)
data = data[data.LoanStatus != 'CANCLD']
data = data[data.LoanStatus != 'EXEMPT']

# Drop 'Program' column
data = data.drop(columns=['Program'])

# Drop NaN rows found previously
data = data.dropna(subset=['BorrState'])

print "Number of samples:", data.shape[0]
data.head()

0.18.1

TypeError: drop() got an unexpected keyword argument 'columns'

In [17]:
# List the column headers
list(data)

# Given how specific a borrower's street address is, we might want to remove it

# Additionally, NAICS Description and NAICS code are paired, so we don't need both

# Finally, there are no entries in "ThirdParty"-related columns, so we might as well 
# remove them

# Gross charge-off amount is all zero as well

u'0.18.1'